
.decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Específico solo para el logo */
.logo img {
    width: 250px;
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 40px;
    display: block;
}

/* Las letras del título */
.titulo-paranoic a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

