
body {
    margin: 0;
    padding: 0;
    font-family: 'Iris', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
}

.victoria {
    background: linear-gradient(135deg, #22c55e, #16a34a);
}

.derrota {
    background: radial-gradient(circle at center, #7f1d1d, #450a0a);
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    width: clamp(250px, 25vw, 500px);
}

.imagen-resultado {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgb(255,255,255);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.btnJugar {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(0,0,0.5);
    transition: 0.3s;
}

.btnJugar:hover {
    background-color: #facc15;
    transform: scale(1.1);
}
